
body{
<<<<<<< HEAD
  background: url('./assets/background.png') no-repeat center center fixed ;
  background-size: cover;
  width:100%;
  height:100%;
  font-family: 'Sora', sans-serif !important;
=======
  background: url('./assets/background.png') no-repeat ;
  width:100%;
  height:100%;
  background-size: cover;
>>>>>>> e8103228de24bcae646444b84dfa3b102d646e89

}

.navbar{
  margin: 35px 0px;
}

