.container{
    background-color: #BC0000 !important;
}

.font{
    color:white;
    font-family: 'Sora', sans-serif !important;
}

.logo{
    max-width: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
}

.submitbutton{
    background: #BC0000 !important;
    border: 3px solid white !important;
    border-radius: 3px !important;
}

.submitbutton:hover{
    background: white !important;
    color:#BC0000 !important;
    border: 3px solid white !important;
}

