.tinyImg {
  width: 20%;
  height: 20%;
  margin-left: 40%;
  margin-top: 5%;
}
.colormarlam {
  background-color: rgba(196, 196, 196, 0.27) !important;
  padding: 1rem;
  margin-left: 20%;
  margin-top: 5%;
  border-radius: 1rem;
  overflow-x: hidden;
  font-family: 'Sora';
  color: white;
  width: 60% !important;
}
.buttons {
  margin-left: 40%;
  background: #bc0000 !important;
  border-radius: 0.5rem !important;
  border: none !important;
  font-weight: bolder !important;
  font-family: 'Sora', sans-serif !important;
  min-width: 15rem;
  min-height: 4rem;
}
