.form{
    text-align: center;
    position: absolute;
    left: 30%;
    right: 30%;
    top: 25%;
    bottom: 15%;
    
    background: rgba(196, 196, 196, 0.27);
    border-radius: 58px;
}

.headline{
font-family: Sora;
font-weight: bold;
font-size: 60px;
text-align: center;
color: white;
letter-spacing: 0.1em;
line-height: 100px;
}
.input{
    position:relative;
    width: 650px;
    height: 34px;
    
    background: #FFFFFF;
    border-radius: 20px;
    }
    ::placeholder{
        text-align: center;
    }
    .input1{
        position: relative;
        width: 650px;
        height: 100px;
        text-align: center;
        background: #FFFFFF;
        border-radius: 20px;
        }
    
   .label{
    margin-top:25px;
    width: 558px;
    height: 39px;
   
    font-family: Sora;
 
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    text-align: left;
    
    color: #FFFFFF;
    }
    .submitbutton{
        background: #BC0000 !important;
        border-radius: .5rem !important;
        border: none !important;
        font-weight: bolder !important;
        font-family: 'Sora', sans-serif !important;
        width: 55%;
        height: 8%;
        margin-left:40px;
    }
    
    .submitbutton:hover{
        background: #b43535 !important;
        border-radius: .5rem !important;
        border: none !important;
        font-weight: bolder;
        font-family: 'Sora', sans-serif !important;
    }