.results {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.results img {
  width: 100px;
  height: auto;
}

.checkBoxLists {
  border-bottom: 1px grey solid;
}

.checkBoxLists input {
  padding: 0px;
  margin: 0px;
}
