.container {
  background-color: rgba(196, 196, 196, 0.27) !important;
  width: 100%;
  padding: 0.06rem;
  border-radius: 1rem;
  overflow-x: hidden;
}

.font {
  color: white;
  font-family: 'Sora', sans-serif !important;
}

.accountimage {
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 50%;
}

.profilebutton {
  background: #bc0000 !important;
  border-radius: 0.5rem !important;
  border: none !important;
  margin-top: 1rem;
  font-weight: bolder !important;
  font-family: 'Sora', sans-serif !important;
}

.profilebutton:hover {
  background: #b43535 !important;
  border-radius: 0.5rem !important;
  border: none !important;
  margin-top: 1rem;
  font-weight: bolder;
  font-family: 'Sora', sans-serif !important;
}

.info {
  width: 100%;
  position: relative;
}

.infolabel {
  font-size: 0.9rem;
  color: white;
  margin: 1rem;
  font-family: 'Sora', sans-serif !important;
  border-bottom: 1.8px solid rgba(255, 255, 255, 0.692);
}

.infotext {
  font-size: 0.75rem;
  color: white;
  margin: 1rem;
  font-family: 'Sora', sans-serif !important;
}

.favbox {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.favimg {
  width: 5.5rem;
  height: 5.5rem;
  background-size: cover;
}

.postsection {
  position: relative;
  bottom: 0;
  width: 100%;
}

.postings {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80%;
  margin: 0.5rem;
  margin-bottom: 0rem;
  border-bottom: 1.8px solid rgba(255, 255, 255, 0.692);
}

.postbutton {
  background: #bc0000 !important;
  border-radius: 0.5rem !important;
  border: none !important;
  font-weight: bolder !important;
  font-family: 'Sora', sans-serif !important;
}

.postbutton:hover {
  background: #b43535 !important;
  border-radius: 0.5rem !important;
  border: none !important;
  font-weight: bolder;
  font-family: 'Sora', sans-serif !important;
}

/*Scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.308);
  box-shadow: inset 0 0 5px rgb(187, 187, 187);
  border-radius: 10px;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

::-webkit-scrollbar-thumb {
  background: #c41616;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
  border-radius: 10px;
}

.custommodal{
    background-color: rgba(70, 63, 63, 0.733) !important;
    color: white;
    border-radius: 1rem;
    box-shadow:
        
        0 0 70px rgba(245, 21, 69, 0.452),           
        -10px 0 100px rgba(177, 0, 9, 0.452),       
        10px 0 250px rgb(0, 0, 0);  
}

.custommodalheader {

    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.603), 0 0 4px rgba(255, 255, 255, 0.603);
    border-bottom: .1vh solid  rgba(167, 1, 34, 0);
    font-weight: bolder !important;
    font-family: 'Sora', sans-serif !important;

}

.custommodaltitle{
    font-size: 6vh;
    text-indent:2vmin;
    font-weight: bolder !important;
    font-family: 'Sora', sans-serif !important;
}

.custommodal .modal-body{
    box-shadow:
        inset 0 0 30px rgb(255, 0, 76),      
        inset 20px 0 60px rgb(75, 0, 0),  
        inset -20px 0 60px rgb(80, 0, 0), 
        inset 20px 0 120px rgb(63, 0, 0),  
        inset -20px 0 120px rgb(0, 0, 0);
    
}

.custommodal .close{
    color: white;
    font-size: 8vh;
    font-weight: 4;
    opacity: 1;   
    font-family: 'Goldman', cursive;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.603), 0 0 4px rgba(255, 255, 255, 0.603);
    
}

.EditForm {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.EditFormRow{
  padding-right: 1rem;

}