.contact-us {
  left: 690px;
  letter-spacing: 0px;
  position: absolute;
  top: 61px;
}
.desktop-3 {
  background-color: var(--white);
  background-position: 50% 50%;
  background-size: cover;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
.find-help {
  left: 1313px;
  letter-spacing: 0px;
  position: absolute;
  top: 61px;
}
.image-10 {
  height: 256px;
  left: 385px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 596px;
  transition: all 0.2s ease;
  width: 370px;
}
.image-10:hover {
  transform: scale(1.1);
}
.image-11 {
  height: 256px;
  left: 0px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 123px;
  transition: all 0.2s ease;
  width: 354px;
}
.image-11:hover {
  transform: scale(1.1);
}
.contact-us {
  left: 690px;
  letter-spacing: 0px;
  position: absolute;
  top: 61px;
}
.desktop-3 {
  background-color: var(--white);
  background-position: 50% 50%;
  background-size: cover;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
.find-help {
  left: 1313px;
  letter-spacing: 0px;
  position: absolute;
  top: 61px;
}
.image-10 {
  height: 256px;
  left: 385px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 596px;
  transition: all 0.2s ease;
  width: 370px;
}
.image-10:hover {
  transform: scale(1.1);
}
.image-11 {
  height: 256px;
  left: 0px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 123px;
  transition: all 0.2s ease;
  width: 354px;
}
.image-11:hover {
  transform: scale(1.1);
}
.image-12 {
  height: 256px;
  left: 562px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 602px;
  transition: all 0.2s ease;
  width: 371px;
}
.image-12:hover {
  transform: scale(1.1);
}
.image-13 {
  height: 256px;
  left: 562px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 291px;
  transition: all 0.2s ease;
  width: 364px;
}
.image-13:hover {
  transform: scale(1.1);
}
.image-14 {
  height: 256px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 359px;
}
.image-14:hover {
  transform: scale(1.1);
}
.image-4 {
  height: 111px;
  left: 249px;
  position: absolute;
  top: 38px;
  width: 1455px;
}
.image-5 {
  height: 664px;
  left: 74px;
  position: absolute;
  top: 90px;
  width: 685px;
}
.image-6 {
  height: 434px;
  left: 214px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 479px;
}
.image-7 {
  height: 422px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 596px;
  width: 623px;
}
.image-8 {
  height: 690px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 68px;
  width: 690px;
}
.image-9 {
  height: 256px;
  left: 385px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 285px;
  transition: all 0.2s ease;
  width: 370px;
}
.image-9:hover {
  transform: scale(1.1);
}
.login {
  left: 1082px;
  letter-spacing: 0px;
  position: absolute;
  top: 61px;
}
.overlap-group {
  height: 1018px;
  left: -253px;
  position: absolute;
  top: 6px;
  width: 1704px;
}
.overlap-group1 {
  height: 434px;
  left: 986px;
  position: absolute;
  top: 168px;
  width: 693px;
}
.overlap-group2 {
  height: 754px;
  left: 986px;
  position: absolute;
  top: 602px;
  width: 759px;
}
.place {
  left: 546px;
  letter-spacing: 0px;
  position: absolute;
  top: 61px;
}
.rectangle-25 {
  height: 58px;
  left: 477px;
  pointer-events: auto;
  position: absolute;
  top: 168px;
  transition: all 0.2s ease;
  width: 493px;
}
.rectangle-25:hover {
  transform: scale(0.9);
}
.search {
  left: 623px;
  letter-spacing: 0px;
  position: absolute;
  top: 172px;
}
.sign-up {
  left: 1186px;
  letter-spacing: 0px;
  position: absolute;
  top: 61px;
}
.vector {
  height: 46px;
  left: 565px;
  position: absolute;
  top: 172px;
  width: 52px;
}
.vector-1 {
  height: 10px;
  left: 582px;
  position: absolute;
  top: 182px;
  width: 19px;
}
.component-1 {
  align-items: flex-end;
  background-size: 100% 100%;
  display: flex;
  height: 141px;
  justify-content: flex-end;
  left: 890px;
  min-width: 165px;
  padding: 38.2px 14.2px;
  position: absolute;
  top: 0px;
}
.n {
  letter-spacing: 0px;
  margin-left: 11px;
  min-height: 58px;
  width: 39px;
}
.title {
  letter-spacing: 0px;
  min-height: 58px;
  width: 31px;
}
.vector-2 {
  height: 4px;
  margin-left: 2.67px;
  margin-top: 1px;
  width: 27px;
}
.vector-3 {
  height: 37px;
  margin-left: 2.62px;
  width: 43px;
}
.x {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 41px;
  margin-left: 3px;
  margin-top: 0px;
  overflow: hidden;
  width: 45px;
}
.contact-us {
  left: 690px;
  letter-spacing: 0px;
  position: absolute;
  top: 61px;
}
.desktop-3 {
  background-color: var(--white);
  background-position: 50% 50%;
  background-size: cover;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
.find-help {
  left: 1313px;
  letter-spacing: 0px;
  position: absolute;
  top: 61px;
}
.image-10 {
  height: 256px;
  left: 385px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 596px;
  transition: all 0.2s ease;
  width: 370px;
}
.image-10:hover {
  transform: scale(1.1);
}
.image-11 {
  height: 256px;
  left: 0px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 123px;
  transition: all 0.2s ease;
  width: 354px;
}
.image-11:hover {
  transform: scale(1.1);
}
.image-12 {
  height: 256px;
  left: 562px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 602px;
  transition: all 0.2s ease;
  width: 371px;
}
.image-12:hover {
  transform: scale(1.1);
}
.image-13 {
  height: 256px;
  left: 562px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 291px;
  transition: all 0.2s ease;
  width: 364px;
}
.image-13:hover {
  transform: scale(1.1);
}
.image-14 {
  height: 256px;
  left: 0px;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 359px;
}
.image-14:hover {
  transform: scale(1.1);
}
.image-4 {
  height: 111px;
  left: 249px;
  position: absolute;
  top: 38px;
  width: 1455px;
}
.image-5 {
  height: 664px;
  left: 74px;
  position: absolute;
  top: 90px;
  width: 685px;
}
.image-6 {
  height: 434px;
  left: 214px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 479px;
}
.image-7 {
  height: 422px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 596px;
  width: 623px;
}
.image-8 {
  height: 690px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 68px;
  width: 690px;
}
.image-9 {
  height: 256px;
  left: 385px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 285px;
  transition: all 0.2s ease;
  width: 370px;
}
.image-9:hover {
  transform: scale(1.1);
}
.login {
  left: 1082px;
  letter-spacing: 0px;
  position: absolute;
  top: 61px;
}
.overlap-group {
  height: 1018px;
  left: -253px;
  position: absolute;
  top: 6px;
  width: 1704px;
}
.overlap-group1 {
  height: 434px;
  left: 986px;
  position: absolute;
  top: 168px;
  width: 693px;
}
.overlap-group2 {
  height: 754px;
  left: 986px;
  position: absolute;
  top: 602px;
  width: 759px;
}
.place {
  left: 546px;
  letter-spacing: 0px;
  position: absolute;
  top: 61px;
}
.rectangle-25 {
  height: 58px;
  left: 477px;
  pointer-events: auto;
  position: absolute;
  top: 168px;
  transition: all 0.2s ease;
  width: 493px;
}
.rectangle-25:hover {
  transform: scale(0.9);
}
.search {
  left: 623px;
  letter-spacing: 0px;
  position: absolute;
  top: 172px;
}
.sign-up {
  left: 1186px;
  letter-spacing: 0px;
  position: absolute;
  top: 61px;
}
.vector {
  height: 46px;
  left: 565px;
  position: absolute;
  top: 172px;
  width: 52px;
}
.vector-1 {
  height: 10px;
  left: 582px;
  position: absolute;
  top: 182px;
  width: 19px;
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
* {
  box-sizing: border-box;
}
.roboto-regular-normal-white-60px {
  color: var(--white);
  font-family: var(--font-family-roboto-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
}
.sora-regular-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-sora-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
:root {
  --font-family-roboto-regular: 'Roboto-Regular', Helvetica;
  --font-family-sora-regular: 'Sora-Regular', Helvetica;
  --font-size-s: 24px;
  --font-size-xxl: 60px;
  --white: rgba(255, 255, 255, 1);
}
