.container {
  background-color: #bc0000 !important;
  color: white;
}

.submitbutton {
  background: #bc0000 !important;
  border: 3px solid white !important;
  border-radius: 3px !important;
}

.submitbutton:hover {
  background: white !important;
  color: #bc0000 !important;
  border: 3px solid white !important;
}
