.container {
  background-color: rgba(196, 196, 196, 0.27) !important;
  padding: 1rem;
  border-radius: 1rem;
  overflow-x: hidden;
  font-family: "Sora";
  color: rgb(255, 255, 255);
  width: 90% !important;
  margin-top: 2%;
  margin-left: 2%;
}

.postings {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 45vh;
  margin: 0.5rem;
  margin-top: -1rem;
  margin-bottom: 0rem;
  border-bottom: 1.8px solid rgba(255, 255, 255, 0.692);
}
